.flex-container {
  display: flex; /* Это свойство позволяет создать flex-контейнер */
  flex-direction: row; /* Определяет направление главной оси */
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  align-items: center; /* Выравнивание элементов по поперечной оси */
  justify-content: space-between; /* Распределяет элементы по главной оси */
  gap: 100px; /* Задает расстояние между элементами  */
  height: 100vh; /* Задает высоту контейнера на весь экран */
}